.bookrackDetails {
    width: 100%;
    margin-top: 46px;
}
.bookrackDetailsContent {
    width: 1200px;
    margin: 0 auto;
}
.bookImg {
    float: left;
    width: 293px;
    height: 271px;
    text-align: center;
    border:1px solid #f4f4f4;
    margin-right: 43px;
}
.bookImg img {
    width: 174px;
    height: 240px;
    margin-top: 15px;
}
.bookTxt {

}
.bookTxt h1 {
    width: 500px;
    font-size: 18px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bookTxt span {
    font-size: 14px;
    color: #666;
    margin-top: 28px;
    display: block;
}
.bookTxt p {
    width: 830px;
    height: 85px;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: block;
    margin-top: 28px;
    line-height: 2em;

}
.bookTxt button {
    width: 178px;
    height: 44px;
    background: #d70000;
    color: white;
    border-radius: 5px;
    margin-top: 50px;
    border:none;
}
