.leadActivity {
    width: 100%;
    margin-top: 74px;
}

.leadActivityContent {
    width: 1200px;
    margin: 0 auto;
}

.leadContent{
    width: 817px;
    float: left;
}
.leadLeft {
    width: 100%;
    height: 636px;
    border-bottom:1px solid #e0e0e0;
}

.leadLeftHead {
    height: 90px;
    line-height: 90px;
}

.leadLeftHead h1 {
    font-size: 24px;
    color: #333;
    display: inline-block;
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leadLeftHead span {
    font-size: 14px;
    color: #666;
    float: right;
}

.leadLeft img {
    width: 817px;
    height: 454px;
    display: block;
    margin: 0 auto;
}

.leadLeftFooter {
    margin-top: 30px;
}

.leadLeftFooter span {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 720px;
    display: inline-block;
}

.leadLeftFooter a {
    font-size: 14px;
    color: #84a3e3;
    float: right;
}
.leadRight{
    width: 340px;
    float:right;
    margin-top: 44px;
}
.leadRight img{
    width: 100%;
    margin-bottom: 20px;

}